body 
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.tooltip {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -30px; /* Відстань від кнопки вверх */
    left: 50%; /* Позиція по центру відносно кнопки */
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.btn1 {
    position: absolute;
    bottom: 100px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 500px) {
    .tooltip .tooltiptext {
        bottom: auto;
        top: 125%;
    }
    .tooltip .tooltiptext::after {
        top: -10px;
        bottom: auto;
        border-color: transparent transparent #333 transparent;
    }
}
